@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-tech-bg: #0a0a0b;
  --color-tech-card: #141416;
  --color-tech-primary: #ffffff;
  --color-tech-secundary: #a0a0aa;
  --color-tech-accent-blue: #00c2ff;
  --color-tech-accent-purple: #8a2be2;
  --color-terminal-green: #4af626;
  --color-tech-border: #26262a;
  --color-tech-hover: #1e1e22;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
